<header class=" text-xl flex items-center justify-between text-white p-5 border-b-2 border-gray-400 w-full">
    <h1 class="w-1/6 pl-6">Sergio Lanchazo</h1>
    <nav class="flex w-5/6 justify-end gap-x-10 text-base">
        <a href="/" class="text-left">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>



